<head>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="/">Home</a>

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="/orders">Orders</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Items</a>
                    </li>
                    {{#if user}}
                    <li class="nav-item">
                        <a class="nav-link  active" href="/cart">Cart <span class="label label-pill label-success"
                                id="cart-count">{{cartCount}}</span>
                        </a>
                    </li>
                    {{/if}}
                    <div class="dropdown-divider"></div>
                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{#if user}}
                            {{user.Name}}
                            {{else}}
                            Account
                            {{/if}}

                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            {{#if user}}
                            <a class="dropdown-item" href="/logout">Logout</a>
                            {{else}}
                            <a class="dropdown-item" href="/login">Login</a>
                            {{/if}}


                        </div>
                        <a class="" href="/admin">Admin</a>
                    </div>
                </ul>


            </div>
        </div>
    </nav>
</head>