<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

{{!--
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awe" rel="stylesheet"> --}}
<link rel="stylesheet" href="/public/stylesheets/style.css">

<body>

    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="myform form ">
                <form action="/login" method="post">
                    {{#if loginErr}}

                <p class="erorr">{{loginErr}}</p>
                    {{/if}} 
                    
                    <div class="form-group">
                        <input type="email" name="Email" class="form-control my-input" id="Email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" min="0" name="Password" id="phone" class="form-control my-input"
                            placeholder="Password">
                    </div>
                    <div class="text-center ">

                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/signup">New here Create An acoount</a>

                </form>
            </div>
        </div>
    </div>
    </div>